[
    {['_'], function , [{module, exometer_function}]},
    {['_'], counter  , [{module, exometer}]},
    {['_'], histogram, [{module, exometer_histogram}]},
    {['_'], spiral   , [{module, exometer_spiral}]},
    {['_'], duration , [{module, exometer_folsom}]},
    {['_'], meter    , [{module, exometer_folsom}]},
    {['_'], gauge    , [{module, exometer_folsom}]}
].

