[
    {exometer, [
        {defaults, [
            {['_'], function , [{module, exometer_function}]},
            {['_'], counter  , [{module, exometer}]},
            {['_'], histogram, [{module, exometer_histogram}]},
            {['_'], spiral   , [{module, exometer_spiral}]},
            {['_'], duration , [{module, exometer_folsom}]},
            {['_'], meter    , [{module, exometer_folsom}]},
            {['_'], gauge    , [{module, exometer_folsom}]}
        ]},
        {predefined,
            {[a,1], counter, []},
            {[a,2], counter, []},
            {[b,1], counter, []},
            {[c,1], counter, []}
        ]},
        {report, [
            {reporters, [
                {exometer_report_tty, [
                    {module,exometer_report_tty}
                ]},
                {gnosi_exometer_report_graphite, [
                    {module, gnosi_exometer_report_graphite},
                    {host_ip, "10.223.0.7"},
                    {port, 2003},
                    {protocol, udp},
                    {metric_path, "servers.dev.int.mint.etsang.nevro"},
                    {retry_failed_metrics, false},
                    {interval, 1000},
                    {send_timeout, 5000},
                    {reconnect, 5000},
                    {extra_udp_opts, []}
                ]}
            ]}
        ]}
    ]}
].

